.cart{
    background-color: #ff9900;
    padding: 25px;
    position: sticky;
    top: 0;
}
.btn-clear-cart{
    width: 90%;
    height: 56px;
    font-size: 21px;
    margin: auto;
    background: #FF3030;
    border-radius: 4px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}